/* ==========================================================================
   #LISTS
   ========================================================================== */

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0; // Undo browser default
}