
/* ==============   Tables ============== */
.table-fixed {
  table-layout: fixed;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
  
.table {
  border-collapse: collapse;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  @include border-radius(.4em);
  // overflow: hidden;

  tr {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    padding: .35em;
  }

  th, td {
    padding: .75em .625em;
  }

  th {
      vertical-align: bottom;
      border-bottom: 1px solid $border-color;
      //@include font(1em, 600, normal);
      @include font($font-size-md, $font-weight-bold, $line-height-base);
      color:$table-head;
      font-family: 'nunitobold';
  }

  td {
    white-space: nowrap;
    max-width: 95%;
    text-overflow: ellipsis;
    // overflow: hidden;
    @include font-size($font-size-md);
  }
  
  .ellipsis{
    white-space: nowrap;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #404040;
    display:block;
  }
  
}



@include tabletportrait  {
  .table {
    border: 0;
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      display: block;
      margin-bottom: .625em;
    }
    td {
      border-bottom: 1px solid $border-color;
      display: block;
      @include font-size($font-size-xs);
      white-space: pre-wrap;
      max-width: 100%;
      &::before {
        content: attr(data-label);
        text-transform: uppercase;
        width: 50%;
        display: inline-block;
        color: #333;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.table-hover {
      tbody {
          tr {
              &:hover {
                  background-color: $grey;
              }
          }
      }
  }
  .table-striped {
      tbody {
          tr {
              &:nth-of-type(odd) {
                  background-color: $grey;
              }
          }
      }
  }