
.modal-open {
    overflow: hidden;
   .modal {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
// Container that the modal scrolls within
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal;
    display: block;
    // width: 100%;
    // height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    outline: 0;
    background: $white;
  }

.modal-dialog {
    position: relative;
    width: auto;
    margin: $modal-dialog-margin;
    pointer-events: none;
    background: white;
    .modal.fade & {
        @include transition($modal-transition);
        transform: $modal-fade-transform;
    }
    .modal.show & {
        transform: $modal-show-transform;
    }

    .modal.modal-static & {
        transform: $modal-scale-transform;
    }
}

.modal-dialog-scrollable {
    display: flex; // IE10/11
    height: subtract(100%, $modal-dialog-margin * 2);
  
    &.modal-content-inner {
      height: subtract(100vh, $modal-dialog-margin * 2); // IE10/11
      overflow: hidden;
    }
  
    .modal-header,
    .modal-footer {
      flex-shrink: 0;
    }
  
    .modal-body {
      overflow-y: auto;
      margin: 6px;
    }
  }

  .modal-dialog-centered{
    margin-top: calc(100vh - 36.5%);
    height: 285px !important;
    
    .modal-body{
      overflow-y: auto;
    }
  }
 
  // Actual modal
.modal-content-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width:100%; 
    margin: 25px auto;
    // height: calc(100vh - 50px);
    color: $modal-content-color;
    pointer-events: auto;
    background-color: $modal-content-bg;
    background-clip: padding-box;
    outline: 0;
   
   &.modal-lg{
      max-width: $modal-lg;
      // height: calc(100vh - 50px);
    }
    &.moda-xl{
      max-width:100%;
    }
    &.modal-sm { 
      max-width: $modal-sm;
     }
    &.modal-md {
       max-width: $modal-md;
    }

  }
  
  // Modal background
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: $modal-backdrop-bg;
    opacity: 0.5;
    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: $modal-backdrop-opacity; }
  }
  
  // Modal header
  .modal-header {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    padding: $modal-header-padding;
    border-bottom: $modal-header-border-width solid $modal-header-border-color;
    -webkit-border-top-radius:$modal-content-inner-border-radius;
  
    .close {
      padding: $modal-header-padding;
      margin: (-$modal-header-padding-y) (-$modal-header-padding-x) (-$modal-header-padding-y) auto;
    }
  }
  
  // Title text within header
  .modal-title {
    margin-bottom: 0;
    line-height: $modal-title-line-height;
    @include font($font-size-base, $font-weight-normal, $line-height-base);
    color:$modal-title;
  }
  
  // Modal body
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: $modal-inner-padding;
  }
  
  // Footer (for actions)
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: flex-end; 
    padding: $modal-header-padding;
    border-top: $modal-footer-border-width solid $modal-footer-border-color;
    -webkit-border-bottom-radius:$modal-content-inner-border-radius;
  
    > * {
      margin: $modal-footer-margin-between / 2;
    }
  }
  
  .btn.close{
    .icon-icon_close{
      vertical-align: text-bottom;
    }
  }

  // Scale up the modal
  @include mobile {
    // Automatically set modal's width for larger viewports
    .modal-content-inner {
      max-width: $modal-md;
      margin: $modal-dialog-margin-y-sm-up auto;
      &.modal-sm { max-width: $modal-sm; }
      &.modal-md { max-width: $modal-md; }
    }
  
    .modal-dialog-scrollable {
      height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
  
      &.modal-content-inner {
        height: subtract(100vh, $modal-dialog-margin-y-sm-up * 2);
      }
    }
    .modal-dialog-centered{
      margin-top: calc(100vh - 36.5%);
      height: 285px !important;
      
      .modal-body{
        overflow-y: auto;
      }
    }
   
  }
  
  @include laptop {
    .modal-content-inner.modal-lg {
      max-width: $modal-lg;
    }
    .modal-content-inner.modal-xl{
      max-width: 100%;
    }
    .modal-content-inner.modal-md { 
      max-width: $modal-md;
    }
   }
  
  @include desktop {
    .modal-content-inner.modal-xl{
      max-width: 100%;
    }
    
    .modal-content-inner.modal-md { 
      max-width: $modal-md; 
    }
  }

  .modal-confirm {		
    color: #636363;
    width: 400px;
    .modal-content {
      padding: 20px;
      border-radius: 5px;
      border: none;
      text-align: center;
      font-size: 14px;
    }
    .modal-header {
      border-bottom: none;   
      position: relative;
    }
    h4 {
      text-align: center;
      font-size: 26px;
      margin: 30px 0 -10px;
    }
    .close {
      position: absolute;
      top: -5px;
      right: -2px;
    }
    .modal-body {
      color: #999;
    }
    .modal-footer {
      border: none;
      text-align: center;		
      border-radius: 5px;
      font-size: 13px;
      padding: 10px 15px 25px;
      a {
        color: #999;
      }		
    }
    .icon-box {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      z-index: 9;
      text-align: center;
      border: 3px solid #f15e5e;
      i {
        color: #f15e5e;
        font-size: 46px;
        display: inline-block;
        margin-top: 13px;
      }
    }
    .btn,.btn:active {
      color: #fff;
      border-radius: 4px;
      background: #60c7c1;
      text-decoration: none;
      transition: all 0.4s;
      line-height: normal;
      min-width: 120px;
      border: none;
      min-height: 40px;
      border-radius: 3px;
      margin: 0 5px;
    }
    .btn-secondary {
      background: #c1c1c1;
      &.hover, &.focus{
        background: #a8a8a8;
      }
    }
    .btn-danger {
      background: #f15e5e;
      &.hover, &.focus{
        background: #ee3535;
      }
    }
  }
  