.sidebar{
    position: fixed;
    top: 55px;
    bottom:0;
    left:0;
    background: $sidebar;
    width: 200px;
    height: 100vh;
    z-index: 4;
    //display: none;
    @include transition(.5s ease-in-out);
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%);
   .toggle{
       position: absolute;
       top:40px;
       right:-10px;
       cursor: pointer;
       i{
        @include font-size($font-size-xl);
       }
       .icon-collapsed{
            display: block;
        }
        .icon-expand{
            display: none;
        }
   }
   .brand-wrap{
    // border-bottom:1px solid $border-color;
    padding-bottom: 5px;
    // box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%);
   }
   .brand-logo{
    // text-align: left;
    display: flex;
    align-items: center;
    margin:0 auto;
    
        img{
            width:130px;
        }
    
    }
}

.menu-list{
    margin: 20px 0 20px 0;
    padding: 0;
    overflow-y: auto;
    max-height: 80vh;
    .menu-item{
        margin-bottom: 5px;
        position: relative;
        margin-left: 12px;
        a{
            color:$menu-item;
            @include font($font-size-md, $font-weight-normal, $line-height-base);
            cursor: pointer;
            // margin-left:15px;
            padding:10px;
            display:block;
        }
        
        i{
            @include font-size($font-size-lg);
            vertical-align: sub;
            &:before{
                color:#5a5a5a;
            }
        }
        &.active{
            background-color: $theme-brand;
            border-radius: 20px 0 0 20px;
            margin-left: 12px;
            // border-top-left-radius: 20px;
            // border-bottom-left-radius: 20px;
            // margin-left: 10px;
            &:before{
                font-family: "icomoon";
                @include font($font-size-xl, $font-weight-normal, $line-height-base);
                color:$theme-primary;
                content: "\e902";
                position: absolute;
                left:0px;
                top:4px;
                display: none;
            }
            a{
                color:$white;
            }
            i{
                &:before{
                    color:$white;
                }
                
            }
        }
        &.menu-title{
            @include font($font-size-md, $font-weight-medium, $line-height-base);
            margin-left:30px;
        }
        .menu-name{
            font-size:$font-size-md;
        }
    }
}

.main-wrapper{
    margin-left: 200px;
    padding:.5rem 1.5rem;
    padding-top:54px;
    
}
.profile-block{
    position: fixed;
    bottom:0;
    right:0;
    left:0;
    padding:10px;
    // border-top:1px solid $border-color-dark;
    width: 200px;
    background: #fcfcfc;
     a{
         color: $theme-primary;
     }
    
}

.product-logo{
    .product-image{
        width:110px;
        display: block;
    }
    .product-name{
        display: block;
        //margin-left: 20px;
        color: #999;
        font-size: 14px;
    }
    .product-globe{
        display: none;
    }
}

.nav-collapsed{
    .sidebar{
        width:70px;
        .icon-collapsed{
            display: none;
        }
        .icon-expand{
            display: block;
        }
        .menu-item{
            span{
                display: none;
            }
        }
    }
    .main-wrapper{
        margin-left:70px;
    }
    .profile-block{
        width:70px;
    }
    header{
        left:70px;
    }
    .kloud-logo{
        .kloud-image, .product-name{
            display: none;
        }
        .kloud-globe{
            display: block;
            width:32px;
        }
    }
    .order-footer{
        left: 90px;
   
    }
    
}


.user-profile{
    margin-left: 15px;
    cursor: pointer;
    .user-avatar{
        width:32px;
        img{
            border-radius: 100%;
        }
    }
    .user-name{
        color:$text-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        line-height: 34px;
    }
}

.nav-collapsed{
    .user-name{
        display: none;
    }
}

@include tablet{
    .sidebar{
        width:70px !important;
        .toggle{
            .icon-collapsed{
                display: none;
            }
            .icon-expand{
                display: block;
            }
        }
           
    }   
    .menu-item{
        .menu-name{
            display: none;
        }
        &.menu-title{
            display: none;
        }
    }
    .main-wrapper{
        margin-left:70px !important;
    }
    .profile-block{
        width:70px;
    }
    .user-profile {
        .user-name {
            display: none;
        }
    }  
    .kloud-logo{
        .kloud-image, .product-name{
            display: none;
        }
        .kloud-globe{
            display: block;
            width:32px;
        }
    }
    .form-action{
        &.fixed{
          left: 310px !important;
          &.fix-max{
            left:80px !important;
          }
        
        }
      }
   
    .nav-collapsed{
        .sidebar{
            width:200px;
            .icon-collapsed{
                display: block;
            }
            .icon-expand{
                display: none;
            }
            .menu-item{
                .menu-name{
                    display:inline-block;
                }
                
            }
        }
        .profile-block{
            width:200px;
        }
        .user-profile {
            .user-name {
                display: block;
            }
        }   
        .kloud-logo{
            .kloud-image{
                width:110px;
                display: block;
            }
            .product-name{
                display: block;
                margin-left: 20px;
                color: #999;
                font-size: 14px;
            }
            .kloud-globe{
                display: none;
            }
        }

    }
  
}

