<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="slide-content">
        <div class="page-head">
            <h3 *ngIf="isAddMode" class="page-title">
                <i class="icon-back mr-1"></i> {{ 'COMMUNITY.ADD_COMMUNITY' | translate }}
            </h3>
            <h3 *ngIf="!isAddMode" class="page-title">
                <i class="icon-back mr-1"></i> {{ 'COMMUNITY.EDIT_COMMUNITY' | translate }}
            </h3>
        </div>
        <form class="form-box form-block inner-block mt-2">
            <div class="card">
                <div class="form-row d-flex flex-wrap align-items-center justify-space-between">
                    <div class="form-col mr-1">
                        <label class="form-label"> {{ 'COMMUNITY.COMMUNITY_NAME' | translate }}</label>
                        <div class="form-group">
                            <input [(ngModel)]="addEditCommunityData.communityName" name="communityName"  class="form-control form-modal" type="text" placeholder="">
                        </div>
                    </div>                 
                </div>

                <div class="form-row d-flex flex-wrap align-items-center justify-space-between">
                    <div class="form-col mr-1">
                        <label class="form-label"> {{ 'COMMUNITY.COMMUNITY_CODE' | translate }}</label>
                        <div class="form-group">
                            <input [(ngModel)]="addEditCommunityData.communityCode" name="communityCode"  class="form-control form-modal" type="text" placeholder="">
                        </div>
                    </div>                 
                </div>
               
                <div class="form-row">
                    <div class="form-col">
                        <label class="form-label"> {{ 'COMMUNITY.DESCRIPTION' | translate }}</label>
                        <div class="form-group">
                            <textarea [(ngModel)]="addEditCommunityData.communityDesc" name="communityDesc" class="form-control form-width-half textarea" type="text" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
            



            <div class="form-row d-flex flex-wrap form-action">
                <div class="form-col">
                    <a (click)="onCancelCommunity()" class="btn btn-secondary btn-medium">{{ 'BUTTONS.BTN_CANCEL' | translate }}</a>
                    <button *ngIf="isAddMode" (click)="onAddCommunity()" [disabled]="(!addEditCommunityData.communityName || !addEditCommunityData.communityDesc )" class="btn btn-brand btn-medium">{{ 'BUTTONS.BTN_ADD_COMMUNITY' | translate }}</button>
                    <button *ngIf="!isAddMode" (click)="onEditCommunity()" class="btn btn-brand btn-medium">{{ 'BUTTONS.BTN_EDIT_COMMUNITY' | translate }}</button>
                </div>
            </div>
        </div>
        </form>
    
</section>