<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="slide-content">
        <div class="page-head">
            <h3 *ngIf="isAddMode" class="page-title">
                <i class="icon-back mr-1"></i> {{ 'PACKAGE.ADD_PACKAGE' | translate }}
            </h3>
            <h3 *ngIf="!isAddMode" class="page-title">
                <i class="icon-back mr-1"></i> {{ 'PACKAGE.EDIT_PACKAGE' | translate }}
            </h3>
        </div>
        <form class="form-box form-block inner-block mt-2">
            <div class="card">
                <div class="form-row d-flex flex-wrap align-items-center justify-space-between">
                    <div class="form-col mr-1">
                        <label class="form-label"> {{ 'PACKAGE.PACKAGE_NAME' | translate }}</label>
                        <div class="form-group">
                            <input [(ngModel)]="addEditPackageData.packageName" name="packageName" class="form-control form-modal" type="text" placeholder="">
                        </div>
                    </div>

                 
                </div>
                <div class="form-row d-flex flex-wrap align-items-center justify-space-between">
                    <div class="form-col mr-1">
                        <label class="form-label"> {{ 'PACKAGE.PACKAGE_PRICE' | translate }}</label>
                        <div class="form-group">
                            <input [(ngModel)]="addEditPackageData.packagePrice" name="packagePrice" class="form-control form-modal" type="text" placeholder="">
                        </div>
                    </div>

                 
                </div>
               
               
                <div class="form-row">
                    <div class="form-col">
                        <label class="form-label"> {{ 'PACKAGE.DESCRIPTION' | translate }}</label>
                        <div class="form-group">
                            <textarea  [(ngModel)]="addEditPackageData.packageDesc" name="packageDesc" class="form-control form-width-half textarea" type="text" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
            



            <div class="form-row d-flex flex-wrap form-action">
                <div class="form-col">
                    <a (click)="onCancelPackage()" class="btn btn-secondary btn-medium">{{ 'BUTTONS.BTN_CANCEL' | translate }}</a>
                    <button *ngIf="isAddMode" (click)="onAddPackage()" [disabled]="(!addEditPackageData.packageName || !addEditPackageData.packagePrice || !addEditPackageData.packageDesc)" class="btn btn-brand btn-medium">{{ 'BUTTONS.BTN_ADD_PACKAGE' | translate }}</button>
                    <button *ngIf="!isAddMode" (click)="onEditPackage()" class="btn btn-brand btn-medium">{{ 'BUTTONS.BTN_EDIT_PACKAGE' | translate }}</button>
                    <!-- <a routerLink="/addpackage" class="btn btn-brand btn-medium">Add Package</a> -->
                </div>
            </div>
        </div>
        </form>
    
</section>
